.header-nav{
    display: flex;
    justify-content: right;
    align-items: center; 
    gap: 8px; 
    vertical-align: middle;
    font-size: 1.5rem;
    color: var(--color-text);
    margin-bottom: 0.4em;
}

.header-box{
    /* padding: 2.5% 2.5%; */
    /* background: var(--color-footer); */
    display: flex;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 2%;
    margin-bottom: 5em;
    height: 48px;
    width: 95%;
    z-index: 1000;
 
    @media (max-width: 1000px) {
        /* padding: 70px 30px; */
    }
}

@media screen and (max-width: 850px) {


}

@media screen and (max-width: 500px) {


}