.path:hover {
    stroke-width: 5;
}

.countdown-img img{
    width: 80%;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 15px;
}

.countdown-title {
    font-size: 1.6rem;
    margin-left: 1em;
    margin-right: 1em;
    letter-spacing: 2px;
}

.blog-list {
    flex-grow: 1;
    min-height:100vh;
}

ul {
    display: flex;
    padding-left: 0px !important;
    justify-content: center;
}

.post-link {
    /* font-family: 'Bellefair', serif; */
    font-size: 2.5vh;
    margin: 0.5em;
    display: inline-block;
    font-weight: 400;
    width: 4vh;
    /* height: 4vh; */
    line-height: 4vh;
    color: var(--selection-color);
    border-style: solid;
    border-color: var(--selection-b-color);
    background-color: var(--selection-b-color);
    border-radius: 50%;
    transition: width 0.3s ease-in-out, height 0.4s ease-in-out, z-index 0.4s ease-in-out;
    position: relative; /* default position */
    z-index: 1; /* default z-index */
}

.post-link:hover,
.post-link:focus {
    /* font-family: 'Bellefair', serif; */
    text-wrap: wrap;
    color: var(--selection-color);
    /* transform: scale(5); */
    border-radius: 10px;
    width: 20vh;
    height: auto; /* allow height to adjust based on content */
    z-index: 10; /* ensure the element is on top */
}


.svg-map {
    display: flex;
    margin-top: 3vh;
    max-width: 90%;
    max-height: 60vh;
    justify-content: center;
}

.svg-map circle {
    fill: var(--circle-color);
}

.svg-map path {
    fill: var(--map-baseline);
    stroke: var(--selection-color);
    stroke-width: 1;
}

.svg-map path:focus {
    outline: none;
    fill: var(--a-color);
    transition: fill 1s ease, color 1s ease;
}

.svg-map path:hover {
    fill: var(--a-color);
    transition: fill 1s ease, color 1s ease;
}

.hover-area {
    z-index: 10;
    display: inline-block; /* Ensures the element respects padding/margin */
    padding: 100px; /* Adjust the value as needed */
}

.svg-map polyline {
    pointer-events: all;
    stroke-width: 3;
    background-clip:content-box;
}

.svg-map polyline:hover {
    stroke-width: 5;
    cursor: pointer;
}

.svg-map circle:hover {
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    z-index: 1000;
}

/* Optional: basic animation to show/hide the tooltip */
.tooltip.fade {
    transition: opacity 0.3s;
    opacity: 0;
}

.tooltip.fade.show {
    opacity: 1;
}

