.donazione {
    align-items: center;
    text-align: center;
    font-weight: 500;
    height: 3.5rem;
    font-size: 1.2rem;
    width: 15rem;
    border-radius: 5px;
    border: 1;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* color: #3b3838; */
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    cursor: pointer;

        &:hover{
            background-color: var(--submit-color);
            transition: 200ms ease-in;
        }
}


.text-for-gallery{
    margin-left: -0.7em;
    display: none;
}

/* Arrow styles for light theme */
  .arrow {
    background-image: url('../../assets/light_arrow.png');
    display: block;
    background-size: 95%;
    width: 80px;
    height: 51.7px;
    position: absolute;
    transition: background-size 0.3s ease;
    overflow: hidden;
    cursor: pointer;
  }

  body[data-theme="dark"] .arrow {
    background-image: url('../../assets/dark_arrow.png'); 
  }
  
  .arrow:hover {
    background-size: 105%; 
  }

.lista-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}       

.item {
    border-radius: 10px;
    max-width: 95%;
    height: auto; 
    max-height: 600px;
    margin: 0 5px; 
}

.sliderimg{
    margin-top: 2em;
    max-width: 40%;
}

.sliderdiv{
    display: flex !important;
    justify-content: center;
}

.case {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: -1rem;
    padding-left: 0rem;
    text-align: center;
}

.case a{
    font-size: 1.1rem;
}

.feel{
    color: var(--feel-color);
}
.feel::selection {
    color: var(--feel-sel-color);
    background: var(--selection-b-color);
}

.feel::-moz-selection {
    color: var(--feel-sel-color);
    background: var(--selection-b-color);
  }

.address{
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
}

.lista-title {
    font-size: 3rem;
    align-items: center;
    margin: 0px;
}

.lista-subtitle {
    font-size: 2rem;
    align-items: center;
    margin: 0px;
}

.container-lista {
    background-image: url('../../assets/giova.webp');
    width: 30em; 
    height: 40em; 
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }

body[data-theme="dark"] .container-lista {
    background-image: url('../../assets/cotta.webp'); 
    width: 30em; 
    height: 35em; 
    background-size: cover;
    background-position: center;
  }

.container-lista img {
    background-image: "../../assets/giova.webp";
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    
}
  
  .curtain-lista {
    position: absolute;
    top: -1rem;
    width: 60%;
    height: 120%;
    background-color: var(--color-background); 
    transition: transform 3s ease-out, background-color 1s ease;
  }
  
  .left-curtain-lista {
    right: 41%;
    transform: translateX(-100%);
  }
  
  .right-curtain-lista {
    left: 41%;
    transform: translateX(100%);
  }
  

@media screen and (max-width: 820px) {

    .text-for-gallery{
        display: inherit;
    }

    .arrow{
        display: none !important;
    }

    .sliderimg{
        max-width: 60%;
        /* height: auto; */
    }

    .item {
        max-width: 95%;
        max-height: 1000px
    }

    .lista-title {
        font-size: 2rem;
    }

    .container-lista img {
        max-width: 60%;
    }

    .curtain {
        width: 45%;
        transition: transform 3s ease-out;
    }

    .left-curtain {
        right: 40%;
    }

    .right-curtain {
        left: 40%;
      }

  }

@media screen and (max-width: 500px) {

    .case {
        max-width: 85%;
    }

    .text-for-gallery{
        display: inherit;
    }

    .arrow{
        display: none !important;
    }

    .sliderimg{
        max-width: 85%;
        /* height: auto; */
    }

    .item {
        max-width: 95%;
        max-height: 1000px
    }

    .container-lista {
        width: 20em;
        height: 27em;
    }

    body[data-theme="dark"] .container-lista {
        width: 20em;
        height: 25em;
    }

    .lista-title {
        font-size: 2rem;
    }

    .container-lista img {
        max-width: 80%;
    }

    .curtain {
        width: 45%;
        transition: transform 3s ease-out;
    }

    .left-curtain {
        right: 60%;
    }

    .right-curtain {
        left: 60%;
      }


  }