/*Remove the highlight blue background color from mobile*/
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

:root {
  /* Light theme colors */
  --color-background: #ffffff;
  --feel-color: #e63f34;
  --selection-b-color: #242938;
  --selection-color: #ffffff;
  --color-footer: #e4e4e4;
  --ref-color: #3b3b3b;
  --a-color: #0ab836;
  --color-text: #3b3b3b;
  --submit-color: #ffffff;
}

body[data-theme='dark'] {
  /* Dark theme colors */
  --color-background: #030207;
  --feel-color: rgb(255, 68, 68);
  --selection-b-color: #ffffff;
  --selection-color: #242938;
  --color-footer: #242938;
  --ref-color: #ffffff;
  --a-color: #4dee75;
  --color-text: #ffffff;
  --submit-color: #434d6d;
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 1s ease, color 1s ease;
}


p {
text-align: center;
}

a {
  font-family: 'Averia Serif Libre', serif;
  font-weight: bold;
  text-decoration:none;
  color: var(--a-color);
    &:hover {
      color: var(--ref-color);
      transition: 200ms ease-in;
  }
}

::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-b-color);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-b-color);
}


/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}


.theme-switch-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 2%;
  left: 0%;
  z-index: 1000;
  width: 48px;
  height: 48px;
}

.icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* this allows for the 3D effect */
}

.moon-icon, .sun-icon {
  position: absolute;
  /* width: 48px;
  height: 48px; */
  width: auto;
  height: 50px;
  backface-visibility: hidden; /* hide the back of the faces */
  transition: transform 0.8s cubic-bezier(1,0,0,1); /* animate the transform property */
}

.flipped .moon-icon {
  transform: rotateY(180deg); /* flip the moon icon */
}

.flipped .sun-icon {
  transform: rotateY(0deg); /* reveal the sun icon */
}

.sun-icon {
  transform: rotateY(180deg); /* initially hide the sun icon */
}

@media screen and (max-width: 500px) {

  .theme-switch-button {
    left: -2%;
  }

}
