/* Do not shot buttons on Google Maps! */
.gm-style-iw-d{
  color:black;
}

.gm-svpc, .gmnoprint {
  display: none;
}

.red-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40em;
  height: 40em;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}

.map-container {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1.2rem;
    padding-left: 10px;
    text-align: center;
    margin-top: -5rem;
  }
  
  .google-map {
    width: 50vw;
    height: 50vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media screen and (max-width: 850px) {
    
    .map-container{
      width: 65vw ;
      height: 65vw ;

    }

    .google-map {
      width: 100vw;
      height: 50vh;
    }

    .map-h2 {
      margin-top: 2rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }

  }

  @media screen and (max-width: 500px) {

    .red-square{
      width: 100%;
      height: auto;
    }
    
    .map-container{
      height: 20rem ;
      width: 90%;
      -moz-border-radius: 0%;
      -webkit-border-radius: 0%;
      border-radius: 15px;
      transition: none;
      margin-top: -2rem;

    }

    .google-map {
      width: 100vw;
      height: 20vh;
    }

    .map-h2 {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 0rem;
    }
    
  }
