.circle-map {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 3s ease, height 3s ease;
}

.inflate {
  width: 50rem;
  height: 50rem;
}

.map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1.2rem;
    padding-left: 10px;
    text-align: center;
    margin-top: -5rem;
  }
  
  .google-map {
    width: 50vw;
    height: 50vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media screen and (max-width: 850px) {
    
    div.circle{
      width: 80vw ;
      height: 80vw ;
      -moz-border-radius: 50;
      -webkit-border-radius: 50%;
      border-radius: 50%;

    }

    .google-map {
      width: 100vw;
      height: 50vh;
    }

  }


  @media screen and (max-width: 500px) {
    
    div.circle{
      height: 25rem ;
      width: 100%;
      -moz-border-radius: 0%;
      -webkit-border-radius: 0%;
      border-radius: 0%;

    }

    .google-map {
      width: 100vw;
      height: 20vh;
    }

    .map-h2 {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 0rem;
    }

  }