.circle__wrapper { 
  position: fixed; 
}

.circle { 
  display:block; 
  height: 50rem; 
  width: 50rem; 
  background-color: #0000; 
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
  -webkit-animation: growUp 2s; /* You can remove 1.5s if you don't want delay */
  -moz-animation: growUp 2s; 
  -ms-animation: growUp 2s; 
  -o-animation: growUp 2s; 
  animation: growUp 2s; 
}


@-webkit-keyframes growUp {   
  0%  { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1); }
}

@-moz-keyframes growUp {
  0%  { -moz-transform: scale(0); }
  100% { -moz-transform: scale(1); }
}

@-o-keyframes growUp {
  0%  { -o-transform: scale(0); }
  100% { -o-transform: scale(1); }
}

@-ms-keyframes growUp {
  0%  { -ms-transform: scale(0); }
  100% { -ms-transform: scale(1); }
}

@keyframes growUp {
  0%  { transform: scale(0); }
  100% { transform: scale(1); }
}

.map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1.2rem;
    padding-left: 10px;
    text-align: center;
    margin-top: -5rem;
  }
  
  .google-map {
    width: 50vw;
    height: 50vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media screen and (max-width: 850px) {
    
    div.circle{
      width: 80vw ;
      height: 80vw ;
      -moz-border-radius: 50;
      -webkit-border-radius: 50%;
      border-radius: 50%;

    }

    .google-map {
      width: 100vw;
      height: 50vh;
    }

  }


  @media screen and (max-width: 500px) {
    
    div.circle{
      height: 25rem ;
      width: 100%;
      -moz-border-radius: 0%;
      -webkit-border-radius: 0%;
      border-radius: 0%;

    }

    .google-map {
      width: 100vw;
      height: 20vh;
    }

    .map-h2 {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 0rem;
    }

  }